.header {
  padding: 16px;
  border-bottom: 1px #E7E7E7 solid;
}

.footer {
  padding-bottom: 56px;
  border-top: var(--color-secondary) 1px solid;
}

.footer__social {
  display: flex;
  padding: 12px 0;
  justify-content: center;
}

.footer__social__list {
  list-style: none;
  display: flex;
  align-items: baseline;
}

.footer__social__list-item {
  margin-right: 30px;
}

.footer__social__list:last-child {
  margin-right: 0;
}

.footer__text {
  font-size: 12px;
  line-height: 14px;
  color: var(--color-secondary);
}

.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: baseline;
}